Link to Tableau dashboard:

In [37]:
import pandas as pd

In [93]:
bikes = pd.read_csv(r"C:\Users\sivas\Downloads\london_merged.csv")

In [94]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [95]:
bikes.shape

(17414, 10)

In [96]:
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [97]:
# count unique values in the weather code column
bikes.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [98]:
# count of distinct values in season column
bikes.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [99]:
# specifying the column names in a dictinary

new_col_dict = {
    'timestamp' : "time",
    'cnt' : 'count',
    't1' : 'temp_real_C',
    't2': 'temp_feels_like_C',
    'hum': 'humidity',
    'wind_speed': 'wind_speed_kph',
    'weather_code': 'weather',
    'is_holiday': 'is_holiday',
    'is_weekend': 'is_weekend',
    'season': 'season'
}

bikes.rename(new_col_dict, axis=1, inplace=True)

In [100]:
# changing humidity to actual percentage values
bikes.humidity = bikes.humidity/100

In [101]:
#creating dictionaries for seasons and weather

season_dict = {
    '0.0': 'spring',
    '1.0': 'summer',
    '2.0':'autumn',
    '3.0': 'winter'
}


weather_dict = {
    '1.0':'Clear',
    '2.0': 'Scattered clouds',
    '3.0': 'Broken clouds',
    '4.0': 'Cloudy',
    '7.0': 'Rain',
    '10.0': 'Rain with thunderstorm',
    '26.0': 'Snowfall'
}

# changing seasons column data types to strings
bikes.season = bikes.season.astype("str")
# mapping the season dictionary to the existing values
bikes.season = bikes.season.map(season_dict)

In [102]:
bikes.season.value_counts()

spring    4394
summer    4387
winter    4330
autumn    4303
Name: season, dtype: int64

In [103]:
# changing weather column data types to strings
bikes.weather = bikes.weather.astype('str')
#mapping the values to existing values
bikes.weather = bikes.weather.map(weather_dict)

In [105]:
bikes.head(10)

,time,count,temp_real_C,temp_feels_like_C,humidity,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter
5,2015-01-04 05:00:00,46,2.0,2.0,0.930,4.0,Clear,0.0,1.0,winter
6,2015-01-04 06:00:00,51,1.0,-1.0,1.000,7.0,Cloudy,0.0,1.0,winter
7,2015-01-04 07:00:00,75,1.0,-1.0,1.000,7.0,Cloudy,0.0,1.0,winter
8,2015-01-04 08:00:00,131,1.5,-1.0,0.965,8.0,Cloudy,0.0,1.0,winter
9,2015-01-04 09:00:00,301,2.0,-0.5,1.000,9.0,Broken clouds,0.0,1.0,winter

In [106]:
bikes.to_excel(r"C:\Users\sivas\Downloads\london_merged.xlsx", sheet_name= 'Data')